@import url('https://fonts.googleapis.com/css?family=Sacramento|Press+Start+2P|VT323');

body
{
  background-color: #575556;
}
*::before, *::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, .navbar-brand
{
  font-family: 'Sacramento', cursive;
}
h1
{
  font-size: 80px;
}
h2
{
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 20px;
}
#skills h3
{
  font-family: 'VT323', monospace;
  font-size: 30px;
}
.navbar-fixed-top, .navbar-fixed-bottom
{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9998;
}
#home, #skills, #career, #files, #hobbies
{
  padding: 50px 0;
}
#home
{
  background: url(../img/background.jpg) center bottom 0 no-repeat fixed;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: #FFF;
}
#home a
{
  color: #FFF;
  text-decoration: none;
}
#home h2
{
  margin: 50px 0 50px 0;
}
#home p
{
  font-size: 18px;
}
#skills
{

  background: url(../img/slide2.jpg) center 0 no-repeat fixed;
  color: black;
}

.improveVisibility
{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
.improveVisibility:hover
{
  background-color: #921ec2;
}
#skills h2, #hobbies h2
{
  color: #1a0537;
}
#career
{
  background: url(../img/slide3.jpg) center 0 no-repeat fixed;
}
#career h2
{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: #050000;
}
#career p
{
  margin-bottom: 5px;
}
#files
{
  background: url(../img/slide4.jpg) center 0 no-repeat fixed;
  color: #FFF;
}
#files h2
{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  color: #F4A426;
}
#files img
{
  border: 1px solid black;
}
#files .divSize
{
  padding: 0 7%;
}
#hobbies
{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  background: url(../img/slide5.jpg) center 0 no-repeat fixed;
}
#hobbies img
{
  padding-top: 20px;
  padding-bottom: 10px;
}
#hobbies p
{
  color: white;
}
.timeline
{
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline::before
{
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}
.tldate
{
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
}
.timeline li h3
{
  margin: 0;
}
.timeline li
{
  margin-bottom: 25px;
  position: relative;
}
.timeline li::before, .timeline li::after
{
  content: " ";
  display: table;
}
.timeline li::after
{
  clear: both;
}
.timeline-panel
{
  width: 30%;
  margin-left: 15%;
  background: #575556;
  color: #FFF;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.timeline-panel::after
{
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #575556;
  border-right: 0 solid #575556;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-inverted .timeline-panel
{
  margin-left: 55%;
}
.timeline-inverted .timeline-panel::after
{
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.tl-circ
{
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #d0180c;
  width: 35px;
  height: 35px;
  margin-left: -16px;
  border: 3px solid #FAD397;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.tl-circ-left
{
  border-top-left-radius: 50%;
}
.tl-circ-right
{
  border-top-right-radius: 50%;
}
.meter
{
  height: 4px;
  position: relative;
  background: #555;
  margin-bottom: 25px;
  color: white;
}
.meter span {
  display: block;
  height: 4px;
  background-color: #A41C22;
  position: relative;
  overflow: hidden;
}
.progressBar
{
  display: none;
}
.place {
  font-size: 15px;
  color: #e21919;
}
@media (max-width: 700px)
{
  .timeline::before
  {
    left: 5%;
  }
  .tldate
  {
    width: 100px;
    margin: 5%;
  }
  .timeline-panel, .timeline-inverted .timeline-panel
  {
    width: 85%;
    margin-left: 12%;
  }
  .timeline-panel::after
  {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .tl-circ
  {
    left: 5%;
  }
}
@media (max-width: 550px)
{
  .timeline-panel, .timeline-inverted .timeline-panel
  {
    width: 80%;
    margin-left: 17%;
  }
  #home, #skills, #career, #files, #hobbies
  {
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
}
@media (max-width: 350px)
{
  h2
  {
    font-size: 26px;
  }
}
