

<div class="row" id="home">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h1>Melanie Le Bot</h1></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><h2>Assistante de vie aux familles</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="sr-only">adresse :</span> 11 Hameau Malakoff</p>
        <p>02480 Sommette Eaucourt</p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-lg-12">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="sr-only">e-mail :</span> <a href="mailto:melanie.lebot4@gmail.com" title="Me contacter par e-mail">melanie.lebot4@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span class="sr-only">Téléphone :</span> 06.64.74.66.46
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="skills">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Compétences</h2></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Accompagner les personnes dans les taches essentiels du quotidien</h3>
        <div class="improveVisibility">
          <p>Etablir une relation professionelle avec la personne et son entourage<span class="progressBar" id="progress0" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Organiser avec la personne les actes à accomplir<span class="progressBar" id="progress1" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Prévenir les risques, faire face aux situations d'urgence et/ou mettre en place un relais<span class="progressBar" id="progress2" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 100%"></span>70%</p>
          </div>
        </div>
      <div class="improveVisibility">
        <p>Contribuer à l'autonomie physique, intellectuelle et sociale de la personne<span class="progressBar" id="progress3" value="100"></span></p>
        <div class="meter text-left">
          <p><span style="width: 70%"></span>100%</p>
        </div>
      </div>
      <div class="improveVisibility">
        <p>Mettre en oeuvre les techniques et gestes professionels appropriés dans l'aide à la toilette et à l'habillage, aux déplacements, à l'alimentation<span class="progressBar" id="progress4" value="100"></span></p>
        <div class="meter text-left">
          <p><span style="width: 70%"></span>100%</p>
        </div>
      </div>
      </div>
      <div class="col-md-4">
        <h3>Relayer les parents dans la prise en charge de leurs enfants à domicile</h3>
        <div class="improveVisibility">
          <p>Etablir le contact, communiquer et assurer le relais des parents<span class="progressBar" id="progress5" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Organiser l'intervention avec un ou plusieurs enfants<span class="progressBar" id="progress6" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 60%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Prévenir les risques et assurer la sécurité des enfants<span class="progressBar" id="progress7" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Accompagner les apprentissages de base des enfants et leur sociabilisation dans leur activités<span class="progressBar" id="progress8" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Mettre en oeuvre les techniques et gestes professionels appropriés aux enfants lors des levers, couchers, de la toilette et de l'habillage, des repas<span class="progressBar" id="progress9" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>100%</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Assister les personnes dans l'entretien de leur cadre de vie et dans la préparation de leur repas</h3>
        <div class="improveVisibility">
          <p>Etablir une relation professionelle lors des interventions<span class="progressBar" id="progress10" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 50%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Organiser avec la personne les taches domestiques<span class="progressBar" id="progress11" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 50%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Prévenir les risques domestiques et travailler en sécurité<span class="progressBar" id="progress12" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 50%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Respecter l'intimité, les gouts et habitudes de la personne<span class="progressBar" id="progress13" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 50%"></span>100%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Mettre en oeuvre les techniques et gestes professionels appropriés dans l'entretien du logement, du linge, la préparation des repas et des courses<span class="progressBar" id="progress14" value="100"></span></p>
          <div class="meter text-left">
            <p><span style="width: 50%"></span>100%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="career" data-ng-controller="timelineCtrl">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Parcours</h2></div>
    </div>
    <div class="row">
      <ul class="timeline">
        <li data-ng-repeat="xp in experiences track by $index" data-ng-class="{'timeline-inverted':!xp.study, tldate:xp.isDate}" on-finish-render="ngRepeatFinished">
          <div data-ng-if="xp.isDate">
            <h3>{{xp.year}}</h3>
          </div>
          <div data-ng-if="!xp.isDate">
            <div class="tl-circ" data-ng-class="{'tl-circ-left':xp.study, 'tl-circ-right':!xp.study}"></div>
            <div class="timeline-panel text-left">
              <p data-ng-bind="xp.title"></p>
              <p class="place text-right" data-ng-bind="xp.place"></p>
              <p data-ng-bind="xp.data1"></p>
              <p data-ng-bind="xp.data2"></p>
              <p data-ng-bind="xp.data3" data-ng-if="!xp.study"></p>
              <p data-ng-if="xp.study"><a href={{xp.data3}} title="En savoir plus sur l'établissement"></a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" id="files">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Diplômes, formations et cv papier</h2></div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/files/brevet.pdf" alt="brevet collège" title="brevet collège">
          <div class="caption">
            <p>Brevet collège</p>
            <a href="assets/files/brevet.pdf" class="btn btn-primary btn-block glyphicon glyphicon-download-alt" title="Télécharger mon CV papier" download> Télécharger</a>
            <a href="assets/files/brevet.pdf" class="btn btn-info btn-block glyphicon glyphicon-eye-open" title="Visualiser mon CV papier"> Prévisualiser</a>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/img/PSC1Miniature.jpg" alt="PSC1" title="PSC1">
          <div class="caption">
            <p>PSC1</p>
            <a href="assets/files/PSC1.jpg" class="btn btn-primary btn-block glyphicon glyphicon-download-alt" title="Télécharger mon PSC1" download> Télécharger</a>
            <a href="assets/files/PSC1.jpg" class="btn btn-info btn-block glyphicon glyphicon-eye-open" title="Visualiser mon PSC1"> Prévisualiser</a>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/img/certifOpquastMini.png" alt="Certification opquast" title="Certification opquast">
          <div class="caption">
            <p>Certificat opquast</p>
            <a href="assets/files/certifOpquast.pdf" class="btn btn-primary btn-block glyphicon glyphicon-download-alt" title="Télécharger ma certification"download> Télécharger</a>
            <a href="assets/files/certifOpquast.pdf" class="btn btn-info btn-block glyphicon glyphicon-eye-open" title="Visualiser ma certification"> Prévisualiser</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="hobbies">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Loisirs</h2></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/dice20.png" alt="Jeux de rôle" title="Jeux de rôle">
        <div><p>Jeux de rôle</p></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/read.jpg" alt="Lecture" title="Lecture">
        <div><p>Romans fantastique</p></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/3dprint.png" alt="impression 3D" title="impression 3D">
        <div><p>Impression 3D</p></div>
      </div>
    </div>
  </div>
</div>
